# Reading networks from SQL databases

[Run notebook in Google Colab](https://colab.research.google.com/github/pathpy/pathpy/blob/master/doc/tutorial/sql.ipynb)  
[Download notebook](https://github.com/pathpy/pathpy/raw/master/doc/tutorial/sql.ipynb)

To simplify the analysis of network data, `pathpy` can directly load and write network from and into SQL databases. For this, we can call the function `read_sql` function in the `io` module. It allows us to pass an open connection to an SQLite database file, which we obtain using the `connect` function of sqlite3. We can further pass an arbitrary SQL query. The columns of this query will be used to generate edges with attributes.

In [3]:
pip install git+git://github.com/pathpy/pathpy.git

Collecting git+git://github.com/pathpy/pathpy.git
  Cloning git://github.com/pathpy/pathpy.git to /tmp/pip-req-build-fkcmy7g2
  Running command git clone -q git://github.com/pathpy/pathpy.git /tmp/pip-req-build-fkcmy7g2
Requirement already satisfied: numpy>=1.17.0 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from pathpy3==3.0.25) (1.20.2)
Requirement already satisfied: scipy>=1.3.1 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from pathpy3==3.0.25) (1.6.3)
Requirement already satisfied: tqdm>=4.36.1 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from pathpy3==3.0.25) (4.60.0)
Requirement already satisfied: pandas>=0.25.2 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from pathpy3==3.0.25) (1.2.4)
Requirement already satisfied: singledispatchmethod>=1.0 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from pathpy3==3.0.25) (1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from pandas>=0.25.2->pathpy3==3.0.25) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from pandas>=0.25.2->pathpy3==3.0.25) (2021.1)
Requirement already satisfied: six>=1.5 in /home/max/py3-venv/pathp/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.2->pathpy3==3.0.25) (1.15.0)
WARNING: You are using pip version 21.1; however, version 21.1.1 is available.
You should consider upgrading via the '/home/max/py3-venv/pathp/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pathpy as pp
import sqlite3

In [5]:
con = sqlite3.connect('networks.db')
n = pp.io.sql.read_network(con=con, sql='SELECT source, target FROM lotr', directed=True)
print(n)

DatabaseError: Execution failed on sql 'SELECT source, target FROM lotr': no such table: lotr

If we instead want to read all columns from a given table (without giving an open connection or an SQL query) we can simply write:

In [ ]:
n = pp.io.read_sql(filename='networks.db', table='lotr', directed=True)
print(n)

If we read a whole table from an SQL database, the `read_sql` function will automatically retrieve all edge attributes. In our database, the table `lotr`, which captures proximity of Lord of the Rings characters as the story progresses, contains a time attribute that stores when (in which sentence) both characters are mentioned.

In [ ]:
n = pp.io.read_sql(filename='networks.db', table='lotr', directed=True)
e = list(n.edges.uids)[0]
print(n.edges[e])
print(n.edges[e].attributes)

toring a Network in an SQL database is just as easy. Let's first create a network where edges have attributes:

In [ ]:
n = pp.Network(directed=False)
n.add_edge('a', 'b', weight=2.0)
n.add_edge('a', 'c', type='friendship')
print(n)

To store this in a new table in an SQLite database file, we call the `write_sql` function. If the database file and table do not exist, a new database file or table is created. if they exist, we can use the `if_exists` parameter to specify what should be done:

In [ ]:
pp.io.write_sql(n, filename='networks.db', table='test_network', if_exists='replace')